<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.69.0.0" targetFramework="native" />
  <package id="freetype.redist" version="2.6.2.1" targetFramework="native" />
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="pugixml" version="1.9.0" targetFramework="native" />
  <package id="sdl2" version="2.0.5" targetFramework="native" />
  <package id="sdl2.nuget" version="2.0.9" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.0.9" targetFramework="native" />
  <package id="sdl2.redist" version="2.0.5" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
  <package id="sdl2_ttf.v140" version="2.0.14" targetFramework="native" />
  <package id="sdl2_ttf.v140.redist" version="2.0.14" targetFramework="native" />
</packages>